{% extends '::base.html.twig' %}

{% block body %}
    <div id="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Apologize</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>

                        {#accueil/presentation/qui somme nous/equipe/#}
                        <li><a href="#">{{ 'index.nav.home'|trans }}</a></li>

                        {#nos jeux/serveur/#}
                        <li><a href="#">Page 2</a></li>

                        {#forum#}
                        <li><a href="#">Page 3</a></li>

                        {#contact#}
                        <li><a href="#">Page 4</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block mainbody %}{% endblock %}

{% endblock %}
