/app/bootstrap.php.cache
/var/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/var/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/.idea
/Capfile
/app/config/deploy.rb
/app/.htaccess
/src/.htaccess
/web/.htaccess
/.sass-cache/
/**/cache/
# Npm
/node_modules/
/var/logs/
/var/sessions/
