{% extends 'APIndexBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="./css/index.css">
{% endblock %}

{% block title %}Apologize{% endblock %}

{% block mainbody %}
    <div id="header">
    </div>
    <section class="content">
        <div class="container">
            <h1>Bienvenue sur le site web de la communauté Apologize.</h1>
            <p>
                L'objectif est de rassembler des joueurs sympathiques souhaitant jouer dans la bonne humeur.
            </p>
            <a href="ts3server://apologize.ovh"><img src="" alt="ts3" /></a>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
            <p>a<br/></p>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="./js/index.js"></script>
{% endblock %}