{% extends 'APIndexBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{ asset('resources/index/index.css')}}>
{% endblock %}

{% block title %}Apologize{% endblock %}

{% block mainbody %}
    <div id="header">
        <!--<div>
            <h1>Découvrez une nouvelle façon de jouer</h1>
        </div>-->
        <div class="ls-wp-fullwidth-container" style="height:593px;">
            <div class="ls-wp-fullwidth-helper">
                <div id="layerslider_13" class="ls-wp-container" style="width:100%;height:593px;max-width:1920px;margin:0 auto;margin-bottom: 0px;">
                    <div class="ls-slide" data-ls="transition2d:5;">
                        <img data-src="./resources/img/divisionSlider.png" class="ls-bg" alt="" />
                        <img class="ls-l" style="top:-350px;left:-300px;white-space: nowrap;"  data-ls="ooffsetxin:0;delayin:50;offsetyin:50;easingin:easeOutBack;offsetxout:-30;durationout:500;easingout:easeInExpo;;parallaxlevel:4;" data-src="http://digitalpathways.net/lastcartographer/ecu/01/images/cloud.png" alt="">
                        <img class="ls-l" style="top:155px;left:80px;white-space: nowrap;"  data-ls="ooffsetxin:0;delayin:50;offsetyin:50;easingin:easeOutBack;offsetxout:-30;durationout:500;easingout:easeInExpo;;parallaxlevel:4;" data-src="./resources/img/division1.png" alt="">
                        <img class="ls-l" style="top:300px;left:-100px;white-space: nowrap;" data-ls="offsetxin:0;delayin:500;offsetyin:50;easingin:easeOutBack;offsetxout:-30;durationout:500;easingout:easeInExpo;parallaxlevel:-2;" data-src="./resources/img/effectExplosion.png" alt="">
                        <img class="ls-l" style="top:100px;left:800px;white-space: nowrap;" data-ls="offsetxin:0;delayin:500;offsetyin:50;easingin:easeOutBack;offsetxout:-30;durationout:500;easingout:easeInExpo;parallaxlevel:2;" data-src="./resources/img/division2.png" alt="">
                        <img class="ls-l" style="top:0px;left:450px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:50;durationin:1500;delayin:400;easingin:easeOutExpo;offsetxout:70;durationout:500;easingout:easeInExpo;parallaxlevel:6;"  data-src="https://upload.wikimedia.org/wikipedia/fr/8/82/Logo_the_division.png" alt="">
                    </div>
                    <div class="ls-slide" data-ls="transition2d:5;">
                        <img data-src="./resources/img/arkSlider.png" class="ls-bg" alt="" />
                        <img class="ls-l" style="top:0px;left:1030px;white-space: nowrap;" data-ls="offsetxin:-60;durationin:1400;delayin:100;easingin:easeOutExpo;offsetxout:60;durationout:500;easingout:easeInExpo;parallaxlevel:1;" data-src="./resources/img/arkLogo.png" alt="">
                        <img class="ls-l" style="top:0px;left:150px;white-space: nowrap;" data-ls="durationin:1500;easingin:easeOutExpo;durationout:500;easingout:easeInExpo;parallaxlevel:2;" data-src="/resources/img/arrow-target.png" alt="">
                        <img class="ls-l" style="top:0px;left:800px;white-space: nowrap;" data-ls="durationin:1500;easingin:easeOutExpo;durationout:500;easingout:easeInExpo;parallaxlevel:2;" data-src="/resources/img/Dimorphodonjw.png" alt="">
                    </div>
                    Dimorphodonjw.png
                    <div class="ls-slide" data-ls="transition2d:5;">
                        <img data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/bg-header.jpg" class="ls-bg" alt="" />
                        <img class="ls-l" style="top:220px;left:174px;white-space: nowrap;" data-ls="offsetxin:-70;durationin:1500;easingin:easeOutExpo;offsetxout:70;durationout:500;easingout:easeInExpo;parallaxlevel:-4;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/montagne3.png" alt="">
                        <img class="ls-l" style="top:40px;left:486px;white-space: nowrap;" data-ls="offsetxin:-40;durationin:1500;easingin:easeOutExpo;offsetxout:40;durationout:500;easingout:easeInExpo;parallaxlevel:-2;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/particule_back.png" alt="">
                        <img class="ls-l" style="top:123px;left:548px;white-space: nowrap;" data-ls="offsetxin:150;durationin:1500;easingin:easeOutExpo;offsetxout:-150;durationout:500;easingout:easeInExpo;parallaxlevel:2;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/bizoune.png" alt="">
                        <img class="ls-l" style="top:38px;left:430px;white-space: nowrap;" data-ls="offsetxin:350;durationin:1500;easingin:easeOutExpo;offsetxout:-350;durationout:500;easingout:easeInExpo;parallaxlevel:7;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/particule_front.png" alt="">
                        <img class="ls-l" style="top:214px;left:120px;white-space: nowrap;" data-ls="offsetxin:100;durationin:1500;easingin:easeOutExpo;offsetxout:-100;durationout:500;easingout:easeInExpo;parallaxlevel:2;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/text3.png" alt="">
                    </div>
                    <div class="ls-slide" data-ls="transition2d:5;">
                        <img data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/bg-header.jpg" class="ls-bg" alt="" />
                        <img class="ls-l" style="top:127px;left:1115px;white-space: nowrap;" data-ls="offsetxin:-60;offsetyin:-20;durationin:1500;easingin:easeOutExpo;rotatein:-80;scalexin:0.4;scaleyin:0.4;transformoriginin:50% 0% 0;offsetxout:60;durationout:500;easingout:easeInExpo;scalexout:2;scaleyout:2;parallaxlevel:-3;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/parachute.png" alt="">
                        <img class="ls-l" style="top:283px;left:-50px;white-space: nowrap;" data-ls="offsetxin:-40;durationin:1500;easingin:easeOutExpo;offsetxout:40;durationout:500;easingout:easeInExpo;parallaxlevel:-2;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/montagne_large.png" alt="">
                        <img class="ls-l" style="top:258px;left:815px;white-space: nowrap;" data-ls="offsetxin:-30;durationin:1500;easingin:easeOutExpo;offsetxout:30;durationout:500;easingout:easeInExpo;parallaxlevel:-1;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/text4.png" alt="">
                        <img class="ls-l" style="top:340px;left:593px;white-space: nowrap;" data-ls="offsetxin:100;durationin:1500;easingin:easeOutExpo;offsetxout:-100;durationout:500;easingout:easeInExpo;parallaxlevel:2;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/loup.png" alt="">
                        <img class="ls-l" style="top:102px;left:500px;white-space: nowrap;" data-ls="offsetxin:230;durationin:1500;easingin:easeOutExpo;offsetxout:-120;easingout:easeInExpo;parallaxlevel:6;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/branche_alpha.png" alt="">
                        <img class="ls-l" style="top:31px;left:75px;white-space: nowrap;" data-ls="offsetxin:250;durationin:1500;easingin:easeOutExpo;offsetxout:-150;durationout:500;easingout:easeInExpo;parallaxlevel:7;" data-src="http://d1io4fvbkweccz.cloudfront.net/images/layerslider/La-Grange/imac.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <h1>Bienvenue sur le site web de la communauté Apologize.</h1>
            <p>
                L'objectif est de rassembler des joueurs sympathiques souhaitant jouer dans la bonne humeur.
            </p>
            <a href="ts3server://apologize.ovh"><img src="./resources/img/teamspeak3.png" alt="ts3" /></a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src='./resources/index/index.js' type="text/javascript"></script>
{% endblock %}
